.env.php

storage/logs/*
!storage/logs/.gitkeep

storage/temp/*
!storage/temp/.gitkeep

public/uploads/*
!public/uploads/.gitkeep
!public/uploads/.htaccess

public/exports/*
!public/exports/.gitkeep
!public/exports/.htaccess

.DS_Store
Thumbs.db
